{{ define "navbar" }}
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<nav class="nav-extended">
        <div class="nav-wrapper blue" id = "naver">
	    <a href="#" class="brand-logo center"><span style="font-weight:lighter;">Loren</span><span style="font-weight:bold;">Testbench</span></a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="http://materializecss.com/">CSS</a></li>
            </ul>
        </div>
	<div class="nav-content">
      	    <ul class="tabs tabs-transparent blue">
        	<li class="tab"><a class="active" href="#services">Services</a></li>
                <li class="tab"><a href="#backend">Backend</a></li>
                <li class="tab"><a href="#logs">Logs</a></li>
      	    </ul>
    	</div>
    </nav>

<style>
    header,
    main,
    footer,
    .head {
        padding-left: 300px;
    }

    .container {
        padding-left: 70px;
    }



    @media only screen and (max-width : 992px) {

        header,
        main,
        footer {
            padding-left: 0;
        }
    }
</style>
{{ end }}